*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'TT-commons', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
.wrapper{
    width: 120%;
    background-color:  rgba(254,245,230,255);   
    padding: 36px 20px 200px 41px;
    display: flex;
}